**/node_modules/
**/dist/
**/build/
**/.cache/
**/.parcel-cache/
**/.next/
**/.output/
**/coverage/
**/.env
**/.env.*.local
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
.vscode/
.DS_Store
Thumbs.db
